.footer {
    background-color: #ffffff; // Fundo escuro
    color: #000;
    text-align: center;
    padding: 20px;
    width: 100%;
  
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
  
      
      .column {
        flex: 1;
        min-width: 200px;
        margin: 10px;
  
        h2 {
          font-size: 18px;
          margin-bottom: 10px;
          text-transform: uppercase;
          color: #000; // Cor destaque
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin: 8px 0;
            font-size: 14px;
            transition: 0.2s ease;
  
            &:hover {
              color: #FCA46C;
              transition: 0.2s ease;
              cursor: pointer;
            }
          }
        }
      }

      .sociais{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
      }
    }
  
    .copyright {
      margin-top: 10px;
      font-size: 12px;
      color: #000;
    }
  }